
<div class="col-md-6 col-md-offset-3">
    <h2>Logga in</h2>
    <form name="form">
        <div class="form-group">
            <label class="control-label" for="email">Epost</label>
            <input type="email" name="email" class="form-control" [(ngModel)]='loginInfo.email' required/>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]='loginInfo.password' required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="login()">Logga in</button>
            <a [routerLink]="['/register']" class="btn btn-link">Registrera</a>
            <button class="btn btn-primary" (click)="logout()">Logga ut</button>
        </div>
    </form>
    <p class="text-danger">{{ message }}</p>
</div>