    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand">{{pageTitle}}</a>
                <ul class="nav navbar-nav">
                <li *ngIf="!loggedIn" [routerLink]="['/login']"><a>Logga in/registrera</a></li>
                <li *ngIf="loggedIn" [routerLink]="['/login']"><a>Logga ut</a></li>
                
                    
                    <li [routerLink]="['/auctions']"><a>Auktioner</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>