<div class='panel panel-primary' *ngIf='auction'>
    <div class='panel-heading' style='font-size:large'> {{pageTitle + ': ' + auction.name}}
</div>

<div class='panel-body'>
    <div class='row'>
        <div class='col-md-9'>
            <div class='row'>
                <div class='col-md-3'>Namn:</div>
                <div class='col-md-6'>{{auction.name}}</div>
            </div>
            <div class='row'>
                <div class='col-md-3'>Beskrivning:</div>
                <div class='col-md-6'>{{auction.description}}</div>
            </div>
            <div class='row'>
                <div class='col-md-3'>Starttid:</div>
                <div class='col-md-6'>{{auction.startTime | date:'medium'}}</div>
            </div>
            <div class='row'>
                <div class='col-md-3'>Sluttid:</div>
                <div class='col-md-6'>{{auction.endTime | date:'medium'}}</div>
            </div>
            <div class='row'>
                <div class='col-md-3'>Köp nu-pris:</div>
                <div class='col-md-3'>{{ auction.buyNowPrice | currency:'SEK':true:'1.0-0' }}</div>
                <div class='col-md-3'>
                    <button class="btn btn-default" (click)='buyNow()'>Köp nu</button>{{message}}
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-3'>Buda</div>

                    <form #form="ngForm">
                        <div class="form-group col-md-3">
                            <input type="number" name="bid" [(ngModel)]='bid' placeholder="Minst {{highestBid + 1}} kr" #name="ngModel" required />
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Du måste skriva in ett bud.
                        </div>
                        <div [hidden]="(bid >= (highestBid + 1)) || (bid == null) || name.pristine" class="alert alert-danger">
                            Du måste lägga ett bud på minst {{ highestBid + 1 }} kr.
                        </div>
                        </div>
                        <div col-md-3><button class="btn btn-default" [disabled]="!form.form.valid || ( bid < (highestBid + 1) )" (click)='postBid(); form.reset()'>Lägg bud</button></div>
                    </form>
            </div>
            <div class='row'>
                <div class='col-md-3'>Aktuellt bud:</div>
                <div class='col-md-3'>
                    <pm-bid [auctionId]='auction.id'></pm-bid>
                </div>
            </div>
        </div>

        <div class='col-md-3'>
            <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='auction.imageUrl' [title]='auction.name'>
            <button class="btn btn-default" (click)="goToSupplier(auction.supplierId)">Visa information om leverantör</button>
        </div>
    </div>
</div>

<div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()'>
        <i class='glyphicon glyphicon-chevron-left'></i> Tillbaka
    </a>
</div>
</div>

{{message}}